body {

  color: yellow;
}
.worldcontainer {
  position: relative;
  background-color: yellow;
  width: 1000;
  height: 800px;
}
#quadrato {
  background-color: red;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 450px;
  left:50px;
  font-size: 30px;
  color: white;
  padding-top: 15%;
  padding-left: 15%;

}
#base {

  background-color: brown;
  width: 825;
  height: 50px;
  position: absolute;
  top: 750px;
  left: 0px;

}

.title-container {

  background-color: lightgreen;
  text-align: center;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}
.inputForm {
  margin-bottom: 30px;
  margin-top: 20px;
}
.controls {
  margin-top: 20px;

}
